<table class="table">
    <tr>
        <td>Sub total</td>
        <td>${{ basket.subTotal | number_format(2) }}</td>
    </tr>
    <tr>
        <td>Shipping</td>
        <td>$5</td>
    </tr>
    <tr>
        <td class="success">Total</td>
        <td class="success">${{ basket.subTotal + 5 | number_format(2) }}</td>
    </tr>
</table>